th[scope='col'] {
    background-color: #54698d;
    color: #fff;
    height: 25px;
}

td[scope='row'] {
    height: 25px;
}

.spinner {
    height: 120px;
}

.tableContainer {
    overflow-y: scroll;
    max-width: 68rem;
    min-width: 60%;
}

.table {
    position: sticky;
    top: 0;
    width: 100%;
}